<!--header start-->
<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">
        <a href="#" class="logo">
            <img src="~/images/logo.png" alt="">
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->
    <div class="top-nav clearfix">
        <!--logout button start-->
        <ul class="nav pull-right top-menu">
            <li>
                <a asp-controller="Account" asp-action="Logout" style="color: black; padding: 15px;">
                    <i class="fa fa-key"></i> Đăng xuất
                </a>
            </li>
        </ul>
        <!--logout button end-->
    </div>
</header>
<!--header end-->
